:root {
    --fondo-tabla: #FFFFFD;
    --tabla-bg: #FFFFFD;
    /* --tabla-bg: #121a29; */
    --color-primario: #ffd45e;
    --color-texto: #797C83;
    --gris: #A0A7B1;
    --th-bg: #F9FAFC;
}

.contenido {
    font-family: Poppins, sans-serif;
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background: var(--fondo-tabla); */
}

.table-widget {
    max-height: 500px;
    border-radius: 1rem;
    background: var(--tabla-bg);
    padding: 1.5rem;
    text-align: left;
    overflow-x: auto;
    overflow-y: scroll  ;
    user-select: none;
    color: var(--color-texto);
    cursor: auto;
    
}

.table-widget table {
    /* max-width: fit-content; */
    max-width: 1280px;
    border-collapse: collapse;
}


.table-widget thead tr {
    background: var(--th-bg);
}

.table-widget .caption {
    display: flex;
    justify-content: space-between;
}

.table-widget .export-btn {
    text-decoration: none;
    background: none;
    color: var(--color-texto);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.table-widget .export-btn:hover {
    color: var(--color-primario);
}
/* .table-widget .export-btn svg:hover {
    fill: #2ECC71;
} */

.table-widget .export-btn svg {
    width: 1.5rem;   
    height: 1.5rem;
    fill: rgb(215, 211, 211);
}

.table-widget th {
    padding: 1.25rem 1rem;
    font-size: 1.05rem;
    font-weight: 800;
    vertical-align: middle;
}

.table-widget td {
    padding: 1rem;
    background: transparent;
    color: var(--color-texto);
    vertical-align: center;
    cursor: default !important;
}

.table-widget tbody tr {
    transition: all 0.2s;
}

.table-widget tbody tr:hover {
    cursor: pointer;
    background: var(--th-bg);
}

.team-member-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.team-member-profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: .8rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profile-info__name {
    font-weight: 700;
    white-space: nowrap;
}


.status {
    display: flex;
    font-weight: 700;
    gap: 0.5rem;
    align-items: center;
}

.status__circle {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%
}

.status--active {
    background: #2ECC71;
}

.status--inactive {
    background: #ffd071;
}

.status--offline {
    background-color: var(--gris);
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.tag {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--fondo-tablad);
}

.tag::first-letter {
    text-transform: uppercase;
}

.tag--design {
    background: #bd8eff;
}

.tag--QA {
    background: #ff8585;
}

.tag--dev {
    background: #89b6ff;
}

.tag--marketing {
    background: #ffd45e;
}

.table-widget {
    min-height: 5rem;
}

.tabla_usuarios {
    width: 80%;
    border-collapse: collapse;
    margin: 2rem auto;

}
.tabla_usuarios, .th, .td {
    border: 1px solid black;
}

.th, .td {
    padding: 8px;
    text-align: left;
}

.th {
    background-color: #f2f2f2;
}



.img_portada{
    width: 100px;
    height: 100%;
}



/* perfil */

.card{
    background-color: var(--fondo-tablad);
    color: var(--color-texto);
}